@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.3s ease-in-out;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-in-out;
}

@keyframes slide-in-top {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.animate-slide-in-top {
  animation: slide-in-top 0.3s ease-in-out;
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-in-bottom {
  animation: slide-in-bottom 0.3s ease-in-out;
}

@keyframes grow-vertical {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

.animate-grow-vertical {
  animation: grow-vertical 0.3s ease-in-out;
}
